.App {
    width: 100vw;
    height: 100vh;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
}

/* 
 * Caixa de mensagens
 */
.App .chat-box {
    height: 94vh;
    overflow-y: auto;
}
.chat-list .message {
    display: block;
}
.chat-list .message.sent {
    color: red;
}

/* 
 * Input do Chat
 */
.App .text-input {
    background-color: rgb(170, 170, 170);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App .text-input input {
    width: 99%;
    height: 5vh;
    padding: 7px 40px 7px 7px;
    border-radius: 5px;
    border: unset;
    outline: none;
}

.App .text-input button {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    right: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: unset;
    padding: 2px;
    outline: none;
}

.App .text-input button img{
    height: 1.5rem;
    
}